@use 'src/styles/vars' as v;

.modalEditProfile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: rgb(129, 125, 125, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  &__container{
    background-color: v.$secondary-color;
    width: 90%;
    height: auto;
    position: absolute;
    top: 20%;
    border-radius: 10px;
    box-shadow: 0px 7px 21px 15px rgba(0,0,0,0.3);
    &__close{
      color: v.$text-color;
      font-size: 2em;
      position: absolute;
      right: 0;
      top: 0;
      margin: 15px;
    }
    &__title{
      text-align: center;
      font-family: 'SF Sports Night';
      font-size: 1.5em;
      color: v.$text-color;
      text-shadow: -8px 0px 6px rgba(0, 0, 0, 1),8px 0px 6px rgba(0, 0, 0, 1),0px 8px 6px rgba(0, 0, 0, 1),0px -8px 6px rgba(0, 0, 0, 1);
      margin: v.$gutter*3 0;
    }
    &__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      &__edit{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: v.$gutter;

        &__text{
          color: v.$text-color;
          font-size: 1em;
        }

      }
      &__success{
        background-color: rgb(115, 185, 109);
        padding: v.$gutter v.$gutter*2;
        color: white;
        border-radius: 10px;
        margin-bottom: v.$gutter*3;
        font-size: 2em;
        text-align: center;
      }

      &__error{
        background-color: rgb(185, 109, 109);
        border-radius: 10px;
        padding: v.$gutter v.$gutter*2;
        color: white;
        margin-bottom: v.$gutter;
        font-size: 2em;
        text-align: center;
      }
      
      &__button{
        font-size: 1em;
        padding: v.$gutter v.$gutter*1.5;
        color: v.$secondary-color;
        background-color: v.$text-color;
        border: none;
        border-radius: 5px;
        width: auto;
        margin-bottom: v.$gutter*3;
      }
    }
    @media (min-width: 770px){
      .modalEditProfile{
        &__container__title{
          font-size: 4em;
        }
        &__container__form{
          &__edit{
            flex-direction: row;
            width: 80%;
            &__text{
              font-size: 2em;
            }
          }
          &__button{
            font-size: 2em;
          }
        }
      }
    }
  }
  
  
}