@use 'src/styles/vars' as v;

.modalEditProfil{
  background-color: v.$secondary-color;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  border-radius: 10px;
  &__title{
    font-family: 'Anton';
      font-size: 3em;
      color: v.$text-color;
      text-shadow: -8px 0px 6px rgba(0, 0, 0, 1),8px 0px 6px rgba(0, 0, 0, 1),0px 8px 6px rgba(0, 0, 0, 1),0px -8px 6px rgba(0, 0, 0, 1);
      margin: v.$gutter*3 0;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__edit{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      margin-bottom: v.$gutter*2;
      &__text{
        color: v.$text-color;
        font-size: 1.5em;
      }

      &__input{
        font-size: 1.5em;
        padding: v.$gutter*0.5;
        border-radius: 5px;
        border: none;
      }
    }
    &__button{
      font-size: 1.5em;
      padding: v.$gutter*0.5;
      color: v.$secondary-color;
      background-color: v.$text-color;
      border: none;
      border-radius: 5px;
      width: 20%;
    }
  }
}