@use 'src/styles/vars' as v;

.error {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  padding: 4em;

  &__text,  &__home {
    font-size: v.$gutter*2;
    color: v.$text-color;
    font-weight: bold;
    margin: v.$gutter*2;
  }

  &__picture {
    &__img {
      max-width: 100%;
      height: 60vh;
    }
  }
}

@media (max-width: 320px) {
  .error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__picture {
      &__img {
        max-width: 100%;
        height: 60vh;
      }
    }
    
    &__text, &__home {
      font-size: v.$gutter;
    }
  }
}
