@use 'src/styles/vars' as v;

.rating {
  height: 40px;
  margin: auto ;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="radio"] {
  display:none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
  margin: 0 v.$gutter*0.5;
}
