@use 'src/styles/vars' as v;

.results {
  padding: v.$gutter*5 0 v.$gutter 0;
  display: flex;
  flex-direction: column;
  &__slogan{
    width: 100vw;
    font-size: 2em;
    font-weight: bold;
    margin: v.$gutter 0;
    text-align: center;
    color: v.$text-color;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  }

  &__newSearch{
    width: auto;
    margin: 0 auto;
    margin-bottom: v.$gutter*0.5;
    text-align: center;
    padding: v.$gutter*0.7 v.$gutter;
    color: v.$text-color;
    background-color: v.$secondary-color;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
  }
  &__count {
    text-align: center;

    &__desc {
      font-size: 1.5em;
      font-weight: bold;
      color: v.$text-color;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
    }
  }

  &__all {
    padding: v.$gutter v.$gutter*3 v.$gutter*3 v.$gutter*2;
    display: flex;
    justify-content: center;
    height: 60vh;

    &__list {
      margin-right: v.$gutter;
      width: 25%;
      overflow-y: auto;
      padding-right: v.$gutter*0.5;

      &::-webkit-scrollbar {
        width: 1em;
      }
  
      &::-webkit-scrollbar-track {
        background-color: v.$secondary-color;
        border-radius: 5px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: v.$text-color;
        border-radius: 5px;
      } 

      &__single {
        background-color: white;
        width: 100%;
        border-radius: 5px;
        padding: v.$gutter;
        margin-bottom: v.$gutter;  
          

        &__name {
          font-size: v.$gutter*1.5;
          padding-bottom: v.$gutter*0.2;
        }

        &__adress {
          font-size: v.$gutter*0.8;
        }

        &__rating {
          font-size: v.$gutter*2;
          color: v.$star-color;
        }
      }
    }
  }
}

#mapid { 
  height: 100%;
  width: 100%; 
  border-radius: 10px;
  z-index: 0;
}
