@use 'src/styles/vars' as v;

.results {
  padding-top: v.$gutter*5;
  
  &__slogan{
    font-size: 2em;
    font-weight: bold;
    margin: v.$gutter 0;
    text-align: center;
    color: v.$text-color;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  }
    
  &__searchform {
    padding-top: v.$gutter;
  }

  &__all {
    margin: v.$gutter v.$gutter*3 v.$gutter*3 v.$gutter*2;
    display: flex;
    justify-content: center;
    height: v.$gutter*20;
  }

  &__list {
    margin-right: v.$gutter*1.5;
    width: 25%;

    &__single {
      background-color: white;
      width: 100%;
      border-radius: 5px;
      padding: v.$gutter;
      margin-bottom: v.$gutter;      

      &__name {
        font-size: v.$gutter*1.5;
        padding-bottom: v.$gutter*0.2;
      }

      &__adress {
        font-size: v.$gutter*0.8;
      }

      &__rating {
        font-size: v.$gutter*2;
        color: v.$star-color;
      }
    }
  }

  &__map {
    background-color: white;
    width: 75%;
    font-size: 5em;
    border-radius: 5px;
    margin-left: v.$gutter*1.5;
  }
}
