@use 'src/styles/vars' as v;

.modalPrivacyData{
  background-color: v.$secondary-color;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-family: 'Anton';
      font-size: 3em;
      color: v.$text-color;
      text-shadow: -8px 0px 6px rgba(0, 0, 0, 1),8px 0px 6px rgba(0, 0, 0, 1),0px 8px 6px rgba(0, 0, 0, 1),0px -8px 6px rgba(0, 0, 0, 1);
      margin: v.$gutter*3 0;
  }
  &__container{
    width: 90%;
    height: 60%;
    overflow-y: auto;
    color: white;
    text-align: left;
    &::-webkit-scrollbar {
      width: 1em;
    }
    &::-webkit-scrollbar-track {
      background-color: v.$scrollbar-color;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: v.$text-color;
      outline: 1px solid black;
      border-radius: 5px;
    }
    &__h2{
      text-align: center;
      font-size: 1.5em;
      margin-bottom: v.$gutter;
    }

    &__text{
      margin-bottom: v.$gutter*0.5;
      line-height: 1.5;
      margin-right: v.$gutter;
      &__a{
        text-decoration: underline;
        color: v.$text-color;
      }
    }
    &__list{
      list-style: inside;
      line-height: 1.2;
      margin-bottom: v.$gutter*0.5;
    }
    &__strong{
      font-weight: bold;
      color: v.$text-color;
      line-height: 2;
    }
    &__a{
      text-decoration: underline;
      color: v.$text-color;
    }
  }
}