@use 'src/styles/vars' as v;

.review {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: v.$gutter;
  margin-bottom: v.$gutter;
  display: flex;
  flex-direction: column;

  &__block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      &__from {
        font-style: italic;
      }

      &__date {
        font-size: v.$gutter*0.8;
        color: grey;
        padding-left: v.$gutter;
      }
    }

    &__rating {
      display: flex;
      flex-direction: row;
      font-size: v.$gutter*2;

      &__star__full {
        color: v.$star-color;
      }

      &__star__empty {
        color: grey;
      }
    }
    
  }

  &__block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__change {
      display: flex;
      flex-direction: row;
      justify-content: right;
      font-size: v.$gutter*1.5;

      &__update {
      }

      &__delete {
        padding: 0 v.$gutter*0.5;
      }
    }
  }

  &__content {
    padding-top: v.$gutter;
    text-align: justify;
  }
}
