@use 'src/styles/vars' as v;

.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  &__field{
    width: 32vw;
    height: 20px;
    padding: v.$gutter*1.5;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    margin-bottom: v.$gutter;
    margin-left: 1rem;
  }
  
}
@media (max-width: 1025px) {
  .inputs{
    &__field{
      font-size: 1em;
      width: 32vw;
      padding: v.$gutter*1.5;
      margin-bottom: v.$gutter;
    }
  }
}
// @media (max-width: 770px) {
  
//   .inputs{
//     &__field{
//       width: 80vw;
//       padding: v.$gutter*1.5;
//       margin-bottom: v.$gutter;
//       margin-left: 0;
//       font-size: 1.5em;
//     }
//   }
// }
@media (max-width: 430px) {
  
  .inputs{
    &__field{
      width: 80vw;
      padding: v.$gutter*1.5;
      margin-bottom: v.$gutter;
      margin-left: 0;
      font-size: 1.5em;
    }
  }
}
