@use 'src/styles/vars' as v;

.searchForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

  }

  &__button{
    width: 20%;
    padding: v.$gutter*0.7;
    margin-top: v.$gutter*1;
    color: v.$text-color;
    background-color: v.$secondary-color;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin-bottom: v.$gutter;
  }
  @media (max-width: 1024px) {
    .searchForm{
      margin-top: v.$gutter;
    }
    .searchForm__div{
      flex-direction: column;
    }
    .searchForm__button{
      font-size: 1em;
      width: 40%;
      margin-top: v.$gutter;
    }
  }

  @media (max-width: 768px) {
    .searchForm{
      margin-top: v.$gutter/2;
    }
    .searchForm__inputs{
      flex-direction: column;
    }
    .searchForm__button{
      font-size: 1em;
      width: 50%;
      margin-top: v.$gutter;
      margin-bottom: v.$gutter;
    }
  }
}
