@use 'src/styles/vars' as v;

.searchForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    &__sport{
      margin-bottom: v.$gutter;
      width: 340px;
    }
  }

  &__button{
    width: auto;
    padding: v.$gutter*0.7 v.$gutter;
    color: v.$text-color;
    background-color: v.$secondary-color;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
  }
  @media (max-width: 1024px) {
    .searchForm{
    }
    .searchForm__div{
      flex-direction: column;
    }
    .searchForm__button{
      font-size: 1em;
      width: 40%;
    }
  }

  @media (max-width: 768px) {
    
    .searchForm__inputs{
      flex-direction: column;
      &__sport{
        width: 80%;
      }
    }
    .searchForm__button{
      font-size: 1em;
      width: 50%;
    }
  }
}
