@use 'sass:math';

$primary-color: rgba(71, 151, 161, 0.9);
$secondary-color: #263548;
$text-color: #EFF173;
$star-color: #DABC51;
$picture: url(src/assets/pictureHome.jpg);
$scrollbar-color: #4797A1;

$gutter: 1rem;

