@use 'src/styles/vars' as v;

.about {  
  text-align: center;  

  &__title {
    font-size: v.$gutter*2;
    color: v.$text-color;
    font-weight: bold;
    padding: v.$gutter*2;
  }

  &__role {
    color: v.$secondary-color;
    padding: v.$gutter;

    &__name {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 0.8rem;
    }
  }
}
