@use 'src/styles/vars' as v;

.ratingStatic {
  height: 40px;
  margin: auto ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.starStatic {
  transition: color 200ms;
  margin: 0 v.$gutter*0.5;
}